@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
@layer base {
  :root {
    --background: 183 43% 100%;
    --foreground: 183 67% 0%;
    --muted: 3 31% 93%;
    --muted-foreground: 3 11% 26%;
    --popover: 183 43% 100%;
    --popover-foreground: 183 67% 0%;
    --card: 183 43% 100%;
    --card-foreground: 183 67% 0%;
    --border: 183 8% 95%;
    --input: 183 8% 95%;
    --primary: 183 21% 16%;
    --primary-foreground: 183 21% 76%;
    --secondary: 3 21% 16%;
    --secondary-foreground: 3 21% 76%;
    --accent: 3 21% 16%;
    --accent-foreground: 3 21% 76%;
    --destructive: 9 95% 20%;
    --destructive-foreground: 9 95% 80%;
    --ring: 183 21% 16%;
    --chart-1: 183 21% 16%;
    --chart-2: 3 21% 16%;
    --chart-3: 3 21% 16%;
    --chart-4: 3 21% 19%;
    --chart-5: 183 24% 16%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 183 32% 0%;
    --foreground: 183 24% 98%;
    --muted: 3 31% 7%;
    --muted-foreground: 3 11% 74%;
    --popover: 183 32% 0%;
    --popover-foreground: 183 24% 98%;
    --card: 183 32% 0%;
    --card-foreground: 183 24% 98%;
    --border: 183 8% 15%;
    --input: 183 8% 15%;
    --primary: 183 21% 16%;
    --primary-foreground: 183 21% 76%;
    --secondary: 3 21% 16%;
    --secondary-foreground: 3 21% 76%;
    --accent: 3 21% 16%;
    --accent-foreground: 3 21% 76%;
    --destructive: 9 95% 54%;
    --destructive-foreground: 0 0% 100%;
    --ring: 183 21% 16%;
    --chart-1: 183 21% 16%;
    --chart-2: 3 21% 16%;
    --chart-3: 3 21% 16%;
    --chart-4: 3 21% 19%;
    --chart-5: 183 24% 16%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
